* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#f0f0f0;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

h1 {
    font-size: 24px;
    margin-top: 10px;
}

.title {
    color: gray;
    font-size: 18px;
}

a {
   display: inline-block;
   margin-top: 15px;
   padding: 10px 20px;
   background-color: #4CAF50;
   color: white;
   text-decoration: none;
   border-radius: 5px; 
}

a:hover {
    background-color: #45a049;
}